# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Optativa_POO.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\50370\RiderProjects\Optativa_POO\Optativa_POO\.idea\.idea.Optativa_POO\.idea/dataSources/
/dataSources.local.xml
